@CHARSET "ISO-8859-1";

body {
	padding-top: 70px;
	padding-bottom: 30px;
	background-image: url('../img/background.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

.theme-dropdown .dropdown-menu {
	position: static;
	display: block;
	margin-bottom: 20px;
}

.theme-showcase>p>.btn {
	margin: 5px 0;
}

img {
	position: absolute;
	top: 90px;
	right: 430px;
}

.input-group-addon {
	width: 12em;
	text-align: left;
}

.form-control {
	width: 20em;
}

.input-group {
	width: 40em;
}

.img-circle {
	top: 240px;
	right: 460px;
	width: 20em;
	heigth: 20em;
}