@CHARSET "ISO-8859-1";

body {
	padding-top: 100px;
	padding-bottom: 30px;
	background-image: url('../img/background.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

.theme-dropdown .dropdown-menu {
	position: static;
	display: block;
	margin-bottom: 20px;
}

.theme-showcase>p>.btn {
	margin: 5px 0;
}

h:body {
	padding-top: 70px;
	padding-bottom: 30px;
	background-image: url('../img/background.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

.btn-width{
	width:80px;	
}

.images{
	top: 1em;
	left: 10em;
}

.img-doge {
	position: absolute;
	top: 9em;
	right: 30em;
}

.input-group-width {
	padding-bottom: 5px;
	width: 40em;
}

.input-group-addon-width {
	width: 12em;
	text-align: left;
	width: 12em;
}

.form-control-width {
	width: 20em;
}

.img-circle {
	position: absolute;
	top: 240px;
	right: 460px;
	width: 20em;
	heigth: 20em;
}

.img-circle-reg {
	position: absolute;
	top: 120px;
	right: 460px;
	width: 20em;
	heigth: 20em;
}

.btn-margin-bottom{
	margin-bottom: 5px;
}

.5px-margin-bottom{
	margin-bottom: 5px;
}

.5px-margin-right{
	margin-right: 5px;
}